#divCorpo {
    width: 100%;
    margin: 1% auto;
    float: left;
}

#divCorpo h1{
    width: 100%;
    color: #d1ad7a;
    text-align: center;
    font-size: 30pt;
    font-family: 'Patrick Hand', cursive;
    background-image: linear-gradient(#0c2c31, #1d535b);
    border-bottom: 5px solid #d1ad7a;
    margin: 2% auto 2% auto;
    padding: 2% 0;
}

#divCorpo .produto {
    width: 400px;
    border: 3px solid #0c2c31;
    margin: 1% auto 2% 2.6%;
    float: left;
}

#divCorpo .produto:hover {
    cursor: pointer;
    overflow: hidden;
    box-shadow: 4px 0 3px rgba(0,0,0,.5);
    transition: all .3s;
}

#divCorpo .produto img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-bottom: -1%;
}



#divCorpo .produto h2 {
    width: 100%;
    height: 200px;
    float: left;
}

#divCorpo .produto p {
    width: 98%;
    color: #000;
    font-size: 18pt;
    background: #b98030;
    padding: 1% 1%;
    float: left;    
}

#divCorpo .produto p span {
    border-left: 1px solid black;
    padding-left: 2%;
    float: right;
}

