#divCorpo {
    width: 100%;
    float: left;
}

#divCorpo h1 {
    width: 100%;
    color: #d1ad7a;
    text-align: center;
    font-size: 35pt;
    font-family: 'Patrick Hand', cursive;
    background-image: linear-gradient(#0c2c31, #1d535b);
    border-bottom: 5px solid #d1ad7a;
    margin: 2% auto 2% auto;
    padding: 1% 0;
}

#divCorpo h2 {
    width: 100%;
    color: #d1ad7a;
    text-align: center;
    font-size: 30pt;
    font-family: 'Patrick Hand', cursive;
    margin: 2% auto -2% auto;
    padding: 1% 0;
}

#divCorpo #divFotosMaisVendidos {
    width: 100%;
    text-align: center;
    background: #1d535b;
    border-top: 10px solid #d1ad7a;
    border-bottom: 10px solid #d1ad7a;
    margin: 2% 0 2% 0;
    float: left;
}

#divCorpo #divFotosMaisVendidos img {
    width: 330px;
    height: 260px;  
    border: 5px solid #d1ad7a;
    margin: 2% 4%;
    float: left;
}

#divCorpo #divFotosMaisVendidos img:hover {
    transform: scale(1.1);
    box-shadow: 3px 5px 3px rgba(0,0,0,.5);
    cursor: pointer;
    transition: all .3s;
}

#divCorpo  a #btnVerMais {
    width: 20%;
    font-size: 20pt;
    color: #fff;
    background-color: #d1ad7a;
    border: 1px solid #0c2c31;
    border-radius: 8px;
    margin: 2% auto;
    padding: .5% 1%;
    text-align: center;
}


#divCorpo a #btnVerMais:hover {
    background: #b98030;
    transform: scale(1.1);
    cursor: pointer;
    transition: .3s;
}